<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"
          media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"
          media="screen,projection" />

    <title>Dados Públicos</title>
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/js/materialize.min.js" th:href="@{/js/materialize.min.js}"></script>
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Despesas Parlamentar</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="z-depth-1 left-align"><a th:href="@{/}">Lista</a></li>
            <li class="z-depth-1"><a th:href="@{/parlamentar(id=${id},partido=${partido},foto=${foto})}">Voltar</a></li>
        </ul>
    </div>
</nav>
<div class="container">
<table border="1">
    <thead>
    <tr>
        <th>Tipo de Despesa</th>
        <th>Tipo de Documento</th>
        <th>Data do Documento</th>
        <th>Valor Líquido</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="despesa : ${despesaMes}">
        <td th:text="${despesa.tipoDespesa}" />
        <td th:text="${despesa.tipoDocumento}" />
        <td th:text="${despesa.dataDocumento}" />
        <th th:text="${despesa.valorLiquido}" />
    </tr>
    </tbody>
</table>
    <div id="flow" class="card-panel">
        <p class="flow-text red-text">A Data do documento pode ter um mês diferente do mês em que a despesa ocorreu de fato.</p>
    </div>
</div>
</body>
</html>