<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"
          media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"
          media="screen,projection" />

    <title>Dados Públicos</title>
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/js/materialize.min.js" th:href="@{/js/materialize.min.js}"></script>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Lista Parlamentares</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
    </div>
</nav>
<div class="container">
    <table border="1" class="striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Sigla Partido</th>
            <th>UF</th>
            <th>Vizualizações</th>
            <th>Mais Informações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deputado, iStat : ${deputadospage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${deputado.nome}" />
            <td th:text="${deputado.siglaPartido}" />
            <td th:text="${deputado.siglaUf}" />
            <th th:text="${cache.getIfPresent(deputado.id)}" />
            <th ><a th:href="@{/parlamentar(id=${deputado.id},partido=${deputado.siglaPartido},foto=${deputado.urlFoto})}">Mais Informações</a></th>
        </tr>
        </tbody>
    </table>
<br>
<ul class="pagination ">
    <li class="waves-effect" th:if="${deputadospage.totalPages > 0}"
        th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==deputadospage.number + 1} ? active" >
        <a th:href="@{/(page=${pageNumber})}"
                                th:text=${pageNumber}></a>
    </li>

</ul>
</div>
</body>
</html>